@charset "UTF-8";

body {
	margin: 0;
	background: #F1F3F6;
}

h1 {
	font-size: 65px;
	text-align: center;
	color: #00BC3D;
	font-weight: bold;
	font-family: 'Archivo Black', sans-serif;
}

p {
	font-size: 12px;
	color: #656565;
	text-align: center;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

a {
	/*a태그 밑줄 삭제*/
	text-decoration: none;
	display: block;
	color: black;
	font-size: 15px;
}

.wrap {
	width: 1000px;
	margin: 0 auto;
}
.wrap-1500 {
	width: 1500px;
	margin: 0 auto;
}

#right_wrap>select {
	width: 85px;
	height: 25px;
	border: 1px solid #D9D9D9;
}

#wrap {
	width: 550px;
	margin: 10px auto;
}

#left_wrap {
	width: 450px;
	float: left;
}

#
#right_wrap {
	width: 100px;
	float: right;
}

.font-logo-small {
	font-family: 'Archivo Black', sans-serif;
	color: #00BC3D;
}

/*       입력칸을 감싸주는 div*/
.text-box {
	width: 450px;
	height: 50px;
	background: white;
	border: 1px solid #D9D9D9;
	margin: 15px 0px;
}

.text-box input {
	width: 420px;
	height: 30px;
	margin: 10px 15px;
	border: 0;
	display: block;
}

#login_btn {
	width: 450px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	background: #00BC3D;
	margin-top: 40px;
	color: white;
	display: block;
	border: 0;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]+label {
	line-height: 23px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 16px;
}

input[type=checkbox]+label:before {
	content: "\2713";
	display: inline-block;
	border: 2px solid #C9C9CE;
	width: 20px;
	height: 20px;
	color: grey;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #F1F3F6;
	color: #C9C9CE;
	border-radius: 20px;
	text-align: center;
	line-height: 18px;
}

input[type=checkbox]:checked+label:before {
	content: "\2713";
	/* 체크모양 */
	font-size: 18px;
	font-weight: 800;
	color: #00BC3D;
	border: 2px solid #00BC3D;
	background: #F1F3F6;
}

.font1 {
	font-size: 12px;
}

.memberInfo {
	width: 450px;
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
}

.box {
	overflow: hidden;
}

.box>.right {
	float: right;
}

.box>.left {
	float: left;
}

.li-menu {
	width: 220px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	background: #00BC3D;
	color: white;
}

.li-menu a {
	color: white;
}

.li-login-menu {
	width: 50px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	color: white;
	margin: 5px;
}

.red-alert {
	color: red;
	font-size: 12px;
	text-align: left;
}